<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<servlet>
	<servlet-name>MainServer</servlet-name>
	<servlet-class>com.MainServer.MainServerServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>MainServer</servlet-name>
	<url-pattern>/mainserver</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>TimeServlet</servlet-name>
	<servlet-class>com.MainServer.TimeServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>TimeServlet</servlet-name>
	<url-pattern>/timeservlet</url-pattern>
</servlet-mapping>
<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.MainServer.ClientIO.GetUsersForCamera,com.MainServer.ClientIO.ImageProcessAPI,com.MainServer.ClientIO.LoginEndPoint,com.MainServer.ClientIO.QueryEventsEndPoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>